*{
    background-color: #F3F5FC;
}
header{
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 1.5em;
    display: inline-flex;
}

.titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    font-weight: bolder;
    display: inline-flex;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:space-between;
}

section{
    width: 40%;
    height: 100%;
}

.primera-pantalla{
    width: 80%;
    height: 100%;
    margin-left: 3em;
}

textarea{
    width: 80%;
    padding: 1em;
    resize: none;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: white;
}

button{
    margin-top: 1em;
    padding: 1em 3em;
    border-radius: 15px;
    border-color: #0A3871;
    cursor: pointer;
}

button:hover{
    border: white;
}

#btn-codificar{
    background-color: #0A3871;
    color: white;
}

#btn-decodificar{
    background-color: #D8DFE8;
    color: #0A3871;
}

#btn-copiar{
    background-color: #0A3871;
    color: white;
}

footer{
    width: 100%;
    height: 3em;
}

.logo-github{
    width: 3em;
    padding-left: 3em;
    margin-top: 1em;
}